{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-useless-escape": "off",
    "import/no-extraneous-dependencies": "off",
    "no-unused-vars": "off",
    "func-names": "off"
  }
}